
.container{
  /* background-color: #a8c1f3; */
  font-style:italic;
  margin:5%;
}
.navyBar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: fit-content;
}
.navyTitle{
  color:rgb(228, 71, 154)
}
.blogBtn{
  background-color:rgb(228, 71, 154) ;
  color: #ffffff;
  border-radius: 10px;
}
.homeBtn{
margin-right: 10px;
border-radius: 10px;
border-color: white;

}
.homeBtn:hover{
  color:white;
  background-color: rgb(228, 71, 154);
}
h1{
  color:rgb(228, 71, 154);
}
button{
  padding: 20px;
}
.blogBtn:hover{
  background-color:#f5f5dc;
  color: #000000;
  cursor: pointer;
}