
.container{
  font-style:italic;
  margin:5%;
}
.navyBar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: fit-content;
}
.navyTitle{
  color:#e4479a
}
.blogBtn{
  background-color:#e4479a ;
  color: #ffffff;
  border-radius: 10px;
}
.homeBtn{
margin-right: 10px;
border-radius: 10px;
border-color: #ffffff;

}
.homeBtn:hover{
  color:#ffffff;
  background-color: #e4479a;
}
h1{
  color:#e4479a;
}

.blogBtn:hover{
  background-color:#f5f5dc;
  color: #000000;
  cursor: pointer;
}